services:
  - type: web
    name: tatali-asih-api
    env: docker
    dockerfilePath: ./apps/api/Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: PORT
        value: 8000
